# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import array
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
# Import API key
from api_keyS import weather_api_key  

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
weather_api_key

'a66d6e9094774bfc52e92ab2184187bb'

## Generate Cities List

In [3]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

616

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

> **HINT:** The OpenWeatherMap API only allows 60 calls per minute under their free plan. Try using `time.sleep(60)` after each set of 50 cities to avoid API errors due to large calls.

In [4]:
ten_cities=cities[0:10]
ten_cities

['bethel',
 'butaritari',
 'avarua',
 'pilar',
 'gulbene',
 'paranaiba',
 'tete',
 'port blair',
 'rawson',
 'new norfolk']

In [5]:
for x in ten_cities:
    print(x)
    city = x
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_api_key}" 
    print(url)

    weather_response= requests.get(url)
    data_json= weather_response.json()
    print(data_json)

bethel
http://api.openweathermap.org/data/2.5/weather?q=bethel&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': -73.414, 'lat': 41.3712}, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'base': 'stations', 'main': {'temp': 273.02, 'feels_like': 273.02, 'temp_min': 270.14, 'temp_max': 276.55, 'pressure': 1003, 'humidity': 91}, 'visibility': 2595, 'wind': {'speed': 1.1, 'deg': 91, 'gust': 3.62}, 'snow': {'1h': 1}, 'clouds': {'all': 100}, 'dt': 1640433339, 'sys': {'type': 2, 'id': 2008903, 'country': 'US', 'sunrise': 1640434689, 'sunset': 1640467766}, 'timezone': -18000, 'id': 5282297, 'name': 'Bethel', 'cod': 200}
butaritari
http://api.openweathermap.org/data/2.5/weather?q=butaritari&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': 172.7902, 'lat': 3.0707}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'base': 'stations', 'main': {'temp': 300.69, 'feels_like': 303.88, 'temp_min': 300.69, 'temp_max': 300.69, 'pressure': 1010, 'humidity': 78, 'sea_level': 1010, 'grnd_level': 1009}, 'visibility': 10000, 'wind': {'speed': 5.3, 'deg': 98, 'gust': 5.93}, 'rain': {'1h': 0.21}, 'clouds': {'all': 100}, 'dt': 1640433340, 'sys': {'country': 'KI', 'sunrise': 1640370620, 'sunset': 1640413617}, 'timezone': 43200, 'id': 2110227, 'name': 'Butaritari', 'cod': 200}
avarua
http://api.openweathermap.org/data/2.5/weather?q=avarua&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': -159.775, 'lat': -21.2078}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 299.18, 'feels_like': 299.18, 'temp_min': 299.18, 'temp_max': 299.18, 'pressure': 1017, 'humidity': 94}, 'visibility': 10000, 'wind': {'speed': 2.57, 'deg': 80}, 'clouds': {'all': 75}, 'dt': 1640433242, 'sys': {'type': 1, 'id': 7271, 'country': 'CK', 'sunrise': 1640447807, 'sunset': 1640496115}, 'timezone': -36000, 'id': 4035715, 'name': 'Avarua', 'cod': 200}
pilar
http://api.openweathermap.org/data/2.5/weather?q=pilar&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': -35.9567, 'lat': -9.5972}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 302.11, 'feels_like': 302.64, 'temp_min': 302.11, 'temp_max': 302.11, 'pressure': 1009, 'humidity': 49, 'sea_level': 1009, 'grnd_level': 995}, 'visibility': 10000, 'wind': {'speed': 5.25, 'deg': 32, 'gust': 6.94}, 'clouds': {'all': 87}, 'dt': 1640433340, 'sys': {'type': 1, 'id': 8413, 'country': 'BR', 'sunrise': 1640419407, 'sunset': 1640465062}, 'timezone': -10800, 'id': 3392126, 'name': 'Pilar', 'cod': 200}
gulbene
http://api.openweathermap.org/data/2.5/weather?q=gulbene&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': 26.7529, 'lat': 57.1777}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'base': 'stations', 'main': {'temp': 266.57, 'feels_like': 261.49, 'temp_min': 266.57, 'temp_max': 266.57, 'pressure': 997, 'humidity': 77, 'sea_level': 997, 'grnd_level': 981}, 'visibility': 10000, 'wind': {'speed': 3.24, 'deg': 246, 'gust': 9.66}, 'clouds': {'all': 47}, 'dt': 1640433341, 'sys': {'country': 'LV', 'sunrise': 1640415157, 'sunset': 1640439201}, 'timezone': 7200, 'id': 459668, 'name': 'Gulbene', 'cod': 200}
paranaiba
http://api.openweathermap.org/data/2.5/weather?q=paranaiba&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': -51.1908, 'lat': -19.6772}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 296.97, 'feels_like': 297, 'temp_min': 296.97, 'temp_max': 296.97, 'pressure': 1011, 'humidity': 61, 'sea_level': 1011, 'grnd_level': 969}, 'visibility': 10000, 'wind': {'speed': 2.58, 'deg': 116, 'gust': 3.7}, 'clouds': {'all': 0}, 'dt': 1640433341, 'sys': {'country': 'BR', 'sunrise': 1640421923, 'sunset': 1640469861}, 'timezone': -14400, 'id': 3455065, 'name': 'Paranaíba', 'cod': 200}
tete
http://api.openweathermap.org/data/2.5/weather?q=tete&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': 33.5867, 'lat': -16.1564}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'base': 'stations', 'main': {'temp': 308.2, 'feels_like': 312.44, 'temp_min': 308.2, 'temp_max': 308.2, 'pressure': 1011, 'humidity': 46}, 'visibility': 10000, 'wind': {'speed': 4.12, 'deg': 90}, 'clouds': {'all': 40}, 'dt': 1640433341, 'sys': {'type': 1, 'id': 2212, 'country': 'MZ', 'sunrise': 1640401983, 'sunset': 1640449094}, 'timezone': 7200, 'id': 1026014, 'name': 'Tete', 'cod': 200}
port blair
http://api.openweathermap.org/data/2.5/weather?q=port blair&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': 92.75, 'lat': 11.6667}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'base': 'stations', 'main': {'temp': 298.86, 'feels_like': 299.42, 'temp_min': 298.86, 'temp_max': 298.86, 'pressure': 1012, 'humidity': 74, 'sea_level': 1012, 'grnd_level': 1012}, 'visibility': 10000, 'wind': {'speed': 5.13, 'deg': 38, 'gust': 6.07}, 'clouds': {'all': 19}, 'dt': 1640433242, 'sys': {'country': 'IN', 'sunrise': 1640390742, 'sunset': 1640431927}, 'timezone': 19800, 'id': 1259385, 'name': 'Port Blair', 'cod': 200}
rawson
http://api.openweathermap.org/data/2.5/weather?q=rawson&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': -65.1023, 'lat': -43.3002}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 296.41, 'feels_like': 295.73, 'temp_min': 296.41, 'temp_max': 296.41, 'pressure': 1011, 'humidity': 36, 'sea_level': 1011, 'grnd_level': 1010}, 'visibility': 10000, 'wind': {'speed': 9.29, 'deg': 250, 'gust': 12.1}, 'clouds': {'all': 0}, 'dt': 1640433342, 'sys': {'country': 'AR', 'sunrise': 1640421532, 'sunset': 1640476932}, 'timezone': -10800, 'id': 3839307, 'name': 'Rawson', 'cod': 200}
new norfolk
http://api.openweathermap.org/data/2.5/weather?q=new norfolk&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': 147.0587, 'lat': -42.7826}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 285.57, 'feels_like': 284.41, 'temp_min': 284.68, 'temp_max': 287.87, 'pressure': 1012, 'humidity': 59}, 'visibility': 10000, 'wind': {'speed': 1.34, 'deg': 111, 'gust': 4.02}, 'clouds': {'all': 4}, 'dt': 1640433254, 'sys': {'type': 2, 'id': 2031307, 'country': 'AU', 'sunrise': 1640370705, 'sunset': 1640425887}, 'timezone': 39600, 'id': 2155415, 'name': 'New Norfolk', 'cod': 200}

In [6]:
city = "Geelong"
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_api_key}" 
print(url)
#data = url + "appid=" + "&q="
#data
weather_response= requests.get(url)
data_json= weather_response.json()
print(data_json)

http://api.openweathermap.org/data/2.5/weather?q=Geelong&appid=a66d6e9094774bfc52e92ab2184187bb
{'coord': {'lon': 144.3607, 'lat': -38.1471}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 287.81, 'feels_like': 287.08, 'temp_min': 287.21, 'temp_max': 289.72, 'pressure': 1016, 'humidity': 67}, 'visibility': 10000, 'wind': {'speed': 5.36, 'deg': 112, 'gust': 5.36}, 'clouds': {'all': 90}, 'dt': 1640433320, 'sys': {'type': 2, 'id': 2009070, 'country': 'AU', 'sunrise': 1640372280, 'sunset': 1640425608}, 'timezone': 39600, 'id': 2165798, 'name': 'Geelong', 'cod': 200}

In [7]:
data_json.keys()

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [42]:
#set = 1
data_frame = pd.DataFrame(columns=['name', 'coord.lat', 'coord.lon', 'main.temp_max', 'main.humidity', 
                 'clouds.all', 'wind.speed','sys.country', 'dt'])

for x in ten_cities: # replace with all cities
    #print(x)
    city = x
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_api_key}" 
    #print(url)

    weather_response = requests.get(url)
    data_json2 = weather_response.json()

    json_df = pd.json_normalize(data_json2)
    #print(json_df)
    df = json_df[['name', 'coord.lat', 'coord.lon', 'main.temp_max', 'main.humidity', 
                 'clouds.all', 'wind.speed','sys.country', 'dt']]

    #print(df)
    data_frame = data_frame.append(df, ignore_index = True)
    
   # if((x+1)%50 == 0): # for each set of 50 cities
      #  time.sleep(60) # waits 1 minutes
     #   set += 1 # increases set number
         
    #print(data_json)

In [43]:
data_frame

,name,coord.lat,coord.lon,main.temp_max,main.humidity,clouds.all,wind.speed,sys.country,dt
0,Bethel,41.3712,-73.4140,276.54,90,90,1.54,US,1640434739
1,Butaritari,3.0707,172.7902,300.69,78,100,5.30,KI,1640434740
2,Avarua,-21.2078,-159.7750,299.18,94,75,2.57,CK,1640434465
3,Pilar,-9.5972,-35.9567,303.11,49,87,5.25,BR,1640434914
4,Gulbene,57.1777,26.7529,266.57,77,47,3.24,LV,1640434915
5,Paranaíba,-19.6772,-51.1908,296.97,61,0,2.58,BR,1640434741
6,Tete,-16.1564,33.5867,309.20,44,40,4.63,MZ,1640434741
7,Port Blair,11.6667,92.7500,298.86,74,19,5.13,IN,1640434741
8,Rawson,-43.3002,-65.1023,296.41,36,0,9.29,AR,1640434742
9,New Norfolk,-42.7826,147.0587,287.87,60,4,1.34,AU,1640434742

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [46]:
data_frame.rename(columns={'name':'City', 'coord.lat':'Lat', 'coord.lon':'Lng', 'main.temp_max':'Max Temp', 
                            'main.humidity':'Humidity', 'clouds.all':'Cloudiness', 'wind.speed': 'Wind Speed',
                            'sys.country':'Country', 'dt':'Date'})      

data_frame.to_csv(path_or_buf='../output_data/cities.csv', index=False)

data_frame

,name,coord.lat,coord.lon,main.temp_max,main.humidity,clouds.all,wind.speed,sys.country,dt
0,Bethel,41.3712,-73.4140,276.54,90,90,1.54,US,1640434739
1,Butaritari,3.0707,172.7902,300.69,78,100,5.30,KI,1640434740
2,Avarua,-21.2078,-159.7750,299.18,94,75,2.57,CK,1640434465
3,Pilar,-9.5972,-35.9567,303.11,49,87,5.25,BR,1640434914
4,Gulbene,57.1777,26.7529,266.57,77,47,3.24,LV,1640434915
5,Paranaíba,-19.6772,-51.1908,296.97,61,0,2.58,BR,1640434741
6,Tete,-16.1564,33.5867,309.20,44,40,4.63,MZ,1640434741
7,Port Blair,11.6667,92.7500,298.86,74,19,5.13,IN,1640434741
8,Rawson,-43.3002,-65.1023,296.41,36,0,9.29,AR,1640434742
9,New Norfolk,-42.7826,147.0587,287.87,60,4,1.34,AU,1640434742

In [47]:
data_frame.describe()

       coord.lat   coord.lon  main.temp_max  wind.speed
count  10.000000   10.000000      10.000000   10.000000
mean   -3.943510    8.749970     293.540000    4.087000
std    33.109667  105.531880      12.981126    2.371142
min   -43.300200 -159.775000     266.570000    1.340000
25%   -20.825150  -61.624425     290.005000    2.572500
50%   -12.876800   -4.601900     297.915000    3.935000
75%     9.517700   77.959175     300.312500    5.220000
max    57.177700  172.790200     309.200000    9.290000

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
clean_city_data = data_frame[~(data_frame['Humidity']>100)]

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".
clean_city_data

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [ ]:
date_str = date.today().strftime("%d/%m/%Y")
clean_city_data.plot.scatter(x='Lat', y='Max Temp', xlabel = 'Latitude', ylabel = 'Max Temperature (F)',
                             title = "City Latitude vs Max Temperature (" + date_str + ")", grid=True)

plt.savefig("../output_data/Fig1.png")
plt.show()

## Latitude vs. Humidity Plot

In [ ]:
date_str = date.today().strftime("%d/%m/%Y")
clean_city_data.plot.scatter(x='Lat', y='Max Temp', xlabel = 'Latitude', ylabel = 'Max Temperature (F)',
                             title = "City Latitude vs Max Temperature (" + date_str + ")", grid=True)

plt.savefig("../output_data/Fig1.png")
plt.show()

## Latitude vs. Cloudiness Plot

In [ ]:
clean_city_data.plot.scatter(x='Lat', y='Cloudiness', xlabel = 'Latitude', ylabel = 'Cloudiness (%)',
                             title = "City Latitude vs Cloudiness (" + date_str + ")", grid=True)

plt.savefig("../output_data/Fig3.png")
plt.show()

## Latitude vs. Wind Speed Plot

In [ ]:
clean_city_data.plot.scatter(x='Lat', y='Wind Speed', xlabel = 'Latitude', ylabel = 'Wind Speed (mph)',
                             title = "City Latitude vs Wind Speed (" + date_str + ")", grid=True)

plt.savefig("../output_data/Fig4.png")
plt.show()

## Linear Regression

In [ ]:
north_hem = clean_city_data[(clean_city_data['Lat']>=0)]
south_hem = clean_city_data[(clean_city_data['Lat']<0)]

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(north_hem['Lat'], north_hem['Max Temp'])
print("The r-value is:", r_value)
# print("Slope:", slope, "Intercept: ", intercept)

north_hem.plot.scatter(x='Lat', y='Max Temp', xlabel = 'Latitude', ylabel = 'Max Temp', 
                       title = "Northern Hemisphere - Max Temp vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(north_hem['Lat'])
y = np.array(north_hem['Max Temp'])

# slope, intercept = np.polyfit(x, y, 1)
# print("Slope:", slope, "Intercept: ", intercept)

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(10, 230, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(south_hem['Lat'], south_hem['Max Temp'])
print("The r-value is:", r_value)

south_hem.plot.scatter(x='Lat', y='Max Temp', xlabel = 'Latitude', ylabel = 'Max Temp', 
                       title = "Southern Hemisphere - Max Temp vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(south_hem['Lat'])
y = np.array(south_hem['Max Temp'])

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(-45, 280, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(north_hem['Lat'], north_hem['Humidity'])
print("The r-value is:", r_value)

north_hem.plot.scatter(x='Lat', y='Humidity', xlabel = 'Latitude', ylabel = 'Humidity', 
                       title = "Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(north_hem['Lat'])
y = np.array(north_hem['Humidity'])

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(40, 10, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(south_hem['Lat'], south_hem['Humidity'])
print("The r-value is:", r_value)

south_hem.plot.scatter(x='Lat', y='Humidity', xlabel = 'Latitude', ylabel = 'Humidity', 
                       title = "Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(south_hem['Lat'])
y = np.array(south_hem['Humidity'])

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(-45, 17, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(north_hem['Lat'], north_hem['Cloudiness'])
print("The r-value is:", r_value)

north_hem.plot.scatter(x='Lat', y='Cloudiness', xlabel = 'Latitude', ylabel = 'Cloudiness', 
                       title = "Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(north_hem['Lat'])
y = np.array(north_hem['Cloudiness'])

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(0, 10, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(south_hem['Lat'], south_hem['Cloudiness'])
print("The r-value is:", r_value)

south_hem.plot.scatter(x='Lat', y='Cloudiness', xlabel = 'Latitude', ylabel = 'Cloudiness', 
                       title = "Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(south_hem['Lat'])
y = np.array(south_hem['Cloudiness'])

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(-50, 15, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(north_hem['Lat'], north_hem['Wind Speed'])
print("The r-value is:", r_value)

north_hem.plot.scatter(x='Lat', y='Wind Speed', xlabel = 'Latitude', ylabel = 'Wind Speed', 
                       title = "Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(north_hem['Lat'])
y = np.array(north_hem['Wind Speed'])

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(0, 14, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
slope, intercept, r_value, p_value, std_err = st.linregress(south_hem['Lat'], south_hem['Wind Speed'])
print("The r-value is:", r_value)

south_hem.plot.scatter(x='Lat', y='Wind Speed', xlabel = 'Latitude', ylabel = 'Wind Speed', 
                       title = "Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression", 
                       grid=False)

x = np.array(south_hem['Lat'])
y = np.array(south_hem['Wind Speed'])

formula = ( "y = " + "{}".format(round(slope, 2)) + " * x + " + "{}".format(round(intercept, 2)) )
plt.text(-55, 0, formula, fontsize=12, color="red")

plt.plot(x, slope * x + intercept, color="red", linewidth=2, linestyle='-')
plt.show()